/* fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

/* Custom props */
:root {
	--primary: #ea625c;
	--text-color: #333;
	--font-family: Roboto, sans-serif;
	--title-color: #000;
	--background-color-button-hover: #c9514c;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1040px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* BUTTON */

.button {
	padding: 12px 35px;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	background-color: var(--primary);
	color: #fff;
	letter-spacing: 2px;
}

.button:hover {
	background-color: var(--background-color-button-hover);
}

.button:active {
	opacity: 0.8;
}

.lined-link {
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary);
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}

.lined-link::before {
	content: "";
	width: 40px;
	height: 3px;
	background-color: var(--primary);
	margin-right: 10px;
	transition: width 0.3s ease;
}

.lined-link:hover::before {
	width: 60px;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* SITE-HEADER */

.site-header {
	padding: 30px 0;
}
.container {
}
.site-header__container {
	display: flex;
	align-items: center;
}
.site-header__logo {
	margin-right: auto;
}
.logo {
	display: flex;
}

.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.6;
}
.site-header__logo-image {
	display: block;
	width: 35px;
	height: 42px;
}
.sitenav {
	margin-right: 40px;
}
.sitenav__list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sitenav__item:not(:last-child) {
	margin-right: 30px;
}
.sitenav__link {
	display: block;
	padding: 3px 0;
	border-bottom: 3px solid transparent;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	transition: border-color 0.3s ease;
}

.sitenav__link:hover {
	border-color: #333;
}

/* SEARCH-FORM */

.search__form {
}
.search-form__input {
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0;
	border-bottom: 1px solid #000;
}

/* INTRO */

.intro {
	padding: 190px 0;
	border-bottom: 2px solid #ddd;
	background-image: url("../images/intro-apple-watch.jpg");
	background-repeat: no-repeat;
	background-position: left calc(50% + 550px) bottom;
}

.intro__content {
	max-width: 490px;
}
.intro__heading {
	margin: 0;
	margin-bottom: 30px;
	font-size: 50px;
	line-height: 1.2;
	color: var(--title-color);
}
.intro__text {
	margin-top: 0;
	margin-bottom: 30px;
	border-left: 3px solid var(--text-color);
	padding-left: 37px;
}

/* FEATURES */

.features {
	padding: 70px 0;
}

.features__list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 80px;
}
.features__item {
	width: 280px;
}
.features__title {
	color: var(--title-color);
	font-size: 18px;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.features__text {
	font-size: 15px;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 20px;
}

.divider {
	border: 0;
	width: 8px;
	height: 8px;
	background-color: #ddd;
	box-shadow:
		16px 0 0 0 #ddd,
		32px 0 0 0#ddd;
	margin-left: 0;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}
